[submodule "AzureADPasswordReset.gbapp"]
	path = AzureADPasswordReset.gbapp
	url = https://github.com/pragmatismo-io/AzureADPasswordReset.gbapp.git
[submodule "ProjectOnline.gbkb"]
	path = ProjectOnline.gbkb
	url = https://github.com/pragmatismo-io/ProjectOnline.gbkb.git
[submodule "Office365.gbtheme"]
	path = Office365.gbtheme
	url = https://github.com/pragmatismo-io/Office365.gbtheme.git
