[submodule "AzureADPasswordReset.gbapp"]
	path = AzureADPasswordReset.gbapp
	url = https://github.com/pragmatismo-io/AzureADPasswordReset.gbapp.git
[submodule "ProjectOnline.gbkb"]
	path = ProjectOnline.gbkb
	url = https://github.com/pragmatismo-io/ProjectOnline.gbkb
